### JetBrains ###
/.idea/
*.iml
*.iws
out/
*.ipr

### VS Code ###
.vscode/

### Maven ###
target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!/.mvn/wrapper/maven-wrapper.jar
/.mvn/repository/

### macOS / Windows ###
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Custom ###
.gitattributes
